/* 
* adapted from Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011

Table of Contents
==================================================
  #Base 960 Grid    
  #Tablet (Portrait)
  #Mobile (Portrait) 
  #Mobile (Landscape)
  #Clearing
*/
    
/* custom icons */
.nav-glyphish-example .ui-icon { width:20px!important; height:20px!important; margin-left:-10px !important; box-shadow:none!important; -moz-box-shadow:none!important; -webkit-box-shadow:none!important; -webkit-border-radius:0!important; border-radius:0!important; }
.ui-icon-myapp-map   {background:url("../images/103-map.png") no-repeat !important;}
.ui-icon-myapp-watch {background:url("../images/70-tv.png") no-repeat !important;}
.ui-icon-myapp-home  {background:url("../images/231-birdhouse.png") no-repeat !important;}
.ui-icon-myapp-about {background:url("../images/123-id-card.png") no-repeat !important;}
.ui-icon-myapp-graph {background:url("../images/122-stats.png") no-repeat !important;}

.ui-page {margin:auto;}

/* styles for up/down list */
.ui-li-up,
.ui-li-dn { text-shadow:0 0px 0px #f6f6f6; color:#fff;}
.ui-li-up { background-color:#5ed369;}
.ui-li-dn { background-color:#dc1d1d;}
ul + p {margin-top:1em;} /* space above all paragraphs when after lists */

.story{width:100%;}


/* #Base 960 Grid 
================================================== */
body {
  background-image:url('../images/wood.jpg');
  background-position:bottom;
  background-attachment:fixed;
  -moz-background-size:100%;
  background-size:100%;
  height:100%;
  overflow:hidden;
}

#home, #tips, #total, #DMU, #info, #screen {
  width:100%;
  padding:0;
  height:100%;
  position:absolute;
  background:transparent;
}
.footer {
  position:absolute;
  bottom:0;
  border:none;
  margin:0;
  padding:0;
  width:100%;
}
.footer img {
  position:absolute;
  bottom:0;
  width:100%;
}
.footer h1 {
  position:absolute;
  bottom:0;
  padding:0;
  margin:0;
  background:transparent;
  text-align:center;
  width:100%;
  z-index:1000;
  text-shadow: 0px 0px 3px #222;
}
.content {
  width:90%;
  margin:auto;
  padding:10px;
  margin-top:20px;
  margin-bottom:10px;
  line-height:1.5em;
  background-color:#fff;
  border:0px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  overflow-y:scroll;
}
.content h2 {
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#66bcfa;
  padding:5px 0;
  font-style:italic;
}
.articleimg {
  float:left;
}
.mapcontent {
  text-align:center;
}
.hugh, .ioct, .queens, .campus, .kimberlin {
  margin:0px;
  padding:0px;
  height:200px;
  width:200px;
}
#total .content,
#screen .content {
  height:68%;
  background-color:rgba(255,255,255,0.75);
}
.contacts {
  width:92%;
  margin:2px auto;
  color:#f2ea07;
  text-align:center;
  text-shadow:black 0 0 4px;
  font-weight:bold;
  letter-spacing:1px;
  font-size:1.25em;
  background-color:rgba(255,255,255,0.42);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}
#graph{ min-height:96%;}
.textbox {
  width:90%;
  height:70%;
  margin:auto;
  margin-top:10px;
  font-size:2em;
  padding:10px;
  background-color:rgba(255, 255, 255, .9);
  text-shadow:black 0 0 0px;
  color:#444;
  -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
}
    

/* #Tablet (Portrait)
================================================== */    
/* Note:Design for a width of 768px */

@media only screen and (min-width:768px) and (max-width:959px) {
  #home, #building, #zoo, #about, #news, #stats, #graphs, #tweet, #data {
    width:768px;
    height:100%;
    position:absolute;
    background:transparent;
  }
  .mapcontent {
    background-image:url('../images/maps.png');
    background-repeat:no-repeat;
    margin:0px;
    padding:0px;
    height:808px;
    width:768px;
    position:absolute;
  }
  .mapcontent img {
    width:200px;
    height:200px;
  }
  .hugh, .ioct, .queens, .campus, .kimberlin {
    position:absolute;
  }
  .hugh {
    left:306px;
    top:327px;
  }
  .ioct {
    left:127px;
    top:552px;
  }
  .queens {
    left:486px;
    top:535px;
  }
  .campus {
    left:111px;
    top:124px;
  }
  .kimberlin {
    left:468px;
    top:106px;
  }
  .articleimg {
    width:100%;
    margin:auto;
  }
  video {
    background:silver;
    width:768px;
    height:1024px;
    margin:0;
    padding:0;
    border:0;
    padding:0;
  }

} /* END #Tablet (Portrait) */


/* #Mobile (Portrait) 
================================================== */
/* Note:Design for a width of 320px */
    
@media only screen and (max-width:767px) {
  h1 {font-size:1.2em;}
  #home, #building, #zoo, #about, #news, #stats, #graphs, #tweet, #data {
    width:320px;
    padding:0px;
    background:transparent;
    background-image:url('../images/wood.jpg');
    height:100%;
    position:absolute;
  }
  .content {
    width:100%;
    padding:0;
    margin:0;
    position:absolute;
    z-index:1;
  }
  .mapcontent {
    background-image:url('../images/mapsmini.png');
    background-repeat:no-repeat;
    margin:0px;
    padding:0px;
    height:337px;
    width:320px;
    position:absolute;
  }
  .mapcontent a,
  .mapcontent img {
    width:80px;
    height:80px;
  }
  .mapcontent a {
    display:block;
  }
  .hugh, .ioct, .queens, .campus, .kimberlin {
    height:80px;
    width:80px;
    position:absolute;
  }
  .hugh {
    left:125px;
    top:129px;
  }
  .ioct {
    left:49px;
    top:226px;
  }
  .queens {
    left:200px;
    top:226px;
  }
  .campus {
    left:28px;
    top:45px;
  }
  .kimberlin {
    left:209px;
    top:37px;
  }
  video {
    background:silver;
    width:320px;
    height:427px;
    margin:0;
    padding:0;
    border:0;
    padding:0;
  }
  .content h2 {
    font-size:1.1em;
  }
  .textbox {
    width:90%;
    height:70%;
    margin:auto;
    margin-top:10px;
    font-size:2em;
    padding:10px;
    background-color:rgba(255, 255, 255, .9);
    text-shadow:black 0 0 0px;
    color:#444;
    -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
  }
  .articleimg {
    width:100%;
    margin:auto;
  }

}/* END #Mobile (Portrait) */


/* #Mobile (Landscape)
================================================== */
/* Note:Design for a width of 480px */
    
@media only screen and (min-width:480px) and (max-width:767px) {
  body {
    background-image:url('../images/iphonelandscape.jpg');
    background-repeat:no-repeat;
  }
  h1 {font-size:1.2em;}
  .content {
    height:60%;
  }
  .content h2 {
    font-size:1.1em;
  }
  .articleimg {
    width:100%;
    margin:auto;
  }

} /* END #Mobile (Landscape) */


/* #Clearing
================================================== */

/* Use clearfix class on parent to clear nested columns, 
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content:'\0020';
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0; }
.row:after,
.clearfix:after { clear:both; }
.row, 
.clearfix { zoom:1; }
.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
