.ui-scrolllistview .ui-li-divider {
  z-index:10;
}

.ui-scrollbar {
  position:absolute;
  overflow:hidden;
  opacity:0;
  -webkit-transition:opacity 500ms;
  transition:opacity 500ms;
}

.ui-scrollbar-visible {
  opacity:1;
}

.ui-scrollbar-y {
  top:2px;
  right:2px;
  bottom:8px;
  width:5px;
}

.ui-scrollbar-x {
  right:8px;
  bottom:2px;
  left:2px;
  height:5px;
}

.ui-scrollbar-track {
  position:relative;
  width:100%;
  height:100%;
}

.ui-scrollbar-thumb {
  position:absolute;
  top:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.3);
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

.ui-scrollbar-y .ui-scrollbar-thumb {
  width:5px;
  height:100%;
}

.ui-scrollbar-x .ui-scrollbar-thumb {
  width:100%;
  height:5px;
}
.ui-icon-plus{background-position:-0 50%}
.ui-icon-minus{background-position:-36px 50%}
.ui-icon-delete{background-position:-72px 50%}
.ui-icon-arrow-r{background-position:-108px 50%}
.ui-icon-arrow-l{background-position:-144px 50%}
.ui-icon-arrow-u{background-position:-180px 50%}
.ui-icon-arrow-d{background-position:-216px 50%}
.ui-icon-check{background-position:-252px 50%}
.ui-icon-gear{background-position:-288px 50%}
.ui-icon-refresh{background-position:-324px 50%}
.ui-icon-forward{background-position:-360px 50%}
.ui-icon-back{background-position:-396px 50%}
.ui-icon-grid{background-position:-432px 50%}
.ui-icon-star{background-position:-468px 50%}
.ui-icon-alert{background-position:-504px 50%}
.ui-icon-info{background-position:-540px 50%}
.ui-icon-home{background-position:-576px 50%}
.ui-icon{-webkit-border-radius:3px;border-radius:3px}
.ui-icon-checkbox-on,.ui-checkbox-on .ui-icon{background-color:#4596ce}
.ui-icon-loading{background-image:url(images/ajax-loader.png);width:40px;height:40px;-webkit-border-radius:20px;border-radius:20px;background-size:35px 35px}
.ui-focus{-webkit-box-shadow:0 0 12px #387bbe;box-shadow:0 0 12px #387bbe}
.ui-mobile-nosupport-boxshadow *{-webkit-box-shadow:none!important;box-shadow:none!important}
.ui-mobile-nosupport-boxshadow .ui-focus{outline-width:2px}
.ui-mobile,.ui-mobile body{height:100%}
.ui-mobile fieldset,.ui-page{padding:0;margin:0}
.ui-mobile a img,.ui-mobile fieldset{border:0}
.ui-mobile-viewport{margin:0;overflow-x:hidden;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.ui-mobile [data-role=page],.ui-mobile [data-role=dialog],.ui-page{top:0;left:0;width:100%;min-height:100%;position:absolute;display:none;border:0}
.ui-mobile .ui-page-active{display:block;overflow:visible}
.portrait,.portrait .ui-page{min-height:420px}
.landscape,.landscape .ui-page{min-height:300px}
.ui-page.ui-mobile-touch-overflow,.ui-mobile-touch-overflow.ui-native-fixed .ui-content{overflow:auto;height:100%;-webkit-overflow-scrolling:touch;overflow-scrolling:touch}
.ui-page.ui-mobile-pre-transition{display:block}
.ui-loading .ui-mobile-viewport{overflow:hidden!important}
.ui-loading .ui-loader{display:block}
.ui-loading .ui-page{overflow:hidden}
.ui-loader{display:none;position:absolute;opacity:.85;z-index:100;left:50%;width:200px;margin-left:-130px;margin-top:-35px;padding:10px 30px}
.ui-loader h1{font-size:15px;text-align:center}
.ui-loader .ui-icon{position:static;display:block;opacity:.9;margin:0 auto;width:35px;height:35px;background-color:transparent}
.ui-mobile-rendering>*{visibility:hidden}
.ui-bar,.ui-body{position:relative;padding:.4em 15px;overflow:hidden;display:block;clear:both}
.ui-bar{font-size:16px;margin:0}
.ui-bar h1,.ui-bar h2{margin:0;padding:0;font-size:16px;display:inline-block}
.ui-header,.ui-footer{display:block}
.ui-page .ui-header,.ui-page .ui-footer{position:relative}
.ui-content{border-width:0;overflow:visible;overflow-x:hidden;padding:0px}
.ui-page-fullscreen .ui-content{padding:0}
.ui-mobile-touch-overflow.ui-page.ui-native-fixed,.ui-mobile-touch-overflow.ui-page.ui-native-fullscreen{overflow:visible}
.ui-mobile-touch-overflow.ui-native-fixed .ui-header,.ui-mobile-touch-overflow.ui-native-fixed .ui-footer{position:fixed;left:0;right:0;top:0;z-index:200}
.ui-mobile-touch-overflow.ui-page.ui-native-fixed .ui-footer{top:auto;bottom:0}
.ui-mobile-touch-overflow.ui-native-fixed .ui-content{padding-top:2.5em;padding-bottom:3em;top:0;bottom:0;height:auto;position:absolute}
.ui-mobile-touch-overflow.ui-native-fullscreen .ui-content{padding-top:0;padding-bottom:0}
.ui-mobile-touch-overflow.ui-native-fullscreen .ui-header,.ui-mobile-touch-overflow.ui-native-fullscreen .ui-footer{opacity:.9}
.ui-native-bars-hidden{display:none}
.ui-icon{width:18px;height:18px}
.ui-fullscreen img{max-width:100%}
.spin{-webkit-transform:rotate(360deg);-webkit-animation-name:spin;-webkit-animation-duration:1s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear}
@-webkit-keyframes spin{from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
.in,.out{-webkit-animation-timing-function:ease-in-out;-webkit-animation-duration:350ms}
.slide.in{-webkit-transform:translateX(0);-webkit-animation-name:slideinfromright}
.slide.out{-webkit-transform:translateX(-100%);-webkit-animation-name:slideouttoleft}
.slide.in.reverse{-webkit-transform:translateX(0);-webkit-animation-name:slideinfromleft}
.slide.out.reverse{-webkit-transform:translateX(100%);-webkit-animation-name:slideouttoright}
.slideup.in{-webkit-transform:translateY(0);-webkit-animation-name:slideinfrombottom;z-index:10}
.slideup.out{-webkit-animation-name:dontmove;z-index:0}
.slideup.out.reverse{-webkit-transform:translateY(100%);z-index:10;-webkit-animation-name:slideouttobottom}
.slideup.in.reverse{z-index:0;-webkit-animation-name:dontmove}
.slidedown.in{-webkit-transform:translateY(0);-webkit-animation-name:slideinfromtop;z-index:10}
.slidedown.out{-webkit-animation-name:dontmove;z-index:0}
.slidedown.out.reverse{-webkit-transform:translateY(-100%);z-index:10;-webkit-animation-name:slideouttotop}
.slidedown.in.reverse{z-index:0;-webkit-animation-name:dontmove}
@-webkit-keyframes slideinfromright{from{-webkit-transform:translateX(100%)}
to{-webkit-transform:translateX(0)}
}
@-webkit-keyframes slideinfromleft{from{-webkit-transform:translateX(-100%)}
to{-webkit-transform:translateX(0)}
}
@-webkit-keyframes slideouttoleft{from{-webkit-transform:translateX(0)}
to{-webkit-transform:translateX(-100%)}
}
@-webkit-keyframes slideouttoright{from{-webkit-transform:translateX(0)}
to{-webkit-transform:translateX(100%)}
}
@-webkit-keyframes slideinfromtop{from{-webkit-transform:translateY(-100%)}
to{-webkit-transform:translateY(0)}
}
@-webkit-keyframes slideinfrombottom{from{-webkit-transform:translateY(100%)}
to{-webkit-transform:translateY(0)}
}
@-webkit-keyframes slideouttobottom{from{-webkit-transform:translateY(0)}
to{-webkit-transform:translateY(100%)}
}
@-webkit-keyframes slideouttotop{from{-webkit-transform:translateY(0)}
to{-webkit-transform:translateY(-100%)}
}
.viewport-flip{-webkit-perspective:1000;position:absolute}
.ui-mobile-viewport-transitioning,.ui-mobile-viewport-transitioning .ui-page{width:100%;height:100%;overflow:hidden}
.flip{-webkit-animation-duration:.65s;-webkit-backface-visibility:hidden;-webkit-transform:translateX(0)}
.flip.in{-webkit-transform:rotateY(0) scale(1);-webkit-animation-name:flipinfromleft}
.flip.out{-webkit-transform:rotateY(-180deg) scale(.8);-webkit-animation-name:flipouttoleft}
.flip.in.reverse{-webkit-transform:rotateY(0) scale(1);-webkit-animation-name:flipinfromright}
.flip.out.reverse{-webkit-transform:rotateY(180deg) scale(.8);-webkit-animation-name:flipouttoright}
@-webkit-keyframes flipinfromright{from{-webkit-transform:rotateY(-180deg) scale(.8)}
to{-webkit-transform:rotateY(0) scale(1)}
}
@-webkit-keyframes flipinfromleft{from{-webkit-transform:rotateY(180deg) scale(.8)}
to{-webkit-transform:rotateY(0) scale(1)}
}
@-webkit-keyframes flipouttoleft{from{-webkit-transform:rotateY(0) scale(1)}
to{-webkit-transform:rotateY(-180deg) scale(.8)}
}
@-webkit-keyframes flipouttoright{from{-webkit-transform:rotateY(0) scale(1)}
to{-webkit-transform:rotateY(180deg) scale(.8)}
}
@-webkit-keyframes dontmove{from{opacity:1}
to{opacity:1}
}
.pop{-webkit-transform-origin:50% 50%}
.pop.in{-webkit-transform:scale(1);opacity:1;-webkit-animation-name:popin;z-index:10}
.pop.out.reverse{-webkit-transform:scale(.2);opacity:0;-webkit-animation-name:popout;z-index:10}
.pop.in.reverse{z-index:0;-webkit-animation-name:dontmove}
@-webkit-keyframes popin{from{-webkit-transform:scale(.2);opacity:0}
to{-webkit-transform:scale(1);opacity:1}
}
@-webkit-keyframes popout{from{-webkit-transform:scale(1);opacity:1}
to{-webkit-transform:scale(.2);opacity:0}
}
.ui-grid-a,.ui-grid-b,.ui-grid-c,.ui-grid-d{overflow:hidden}
.ui-block-a,.ui-block-b,.ui-block-c,.ui-block-d,.ui-block-e{margin:0;padding:0;border:0;float:left;min-height:1px}
.ui-grid-solo .ui-block-a{width:100%;float:none}
.ui-grid-a .ui-block-a,.ui-grid-a .ui-block-b{width:50%}
.ui-grid-a .ui-block-a{clear:left}
.ui-grid-b .ui-block-a,.ui-grid-b .ui-block-b,.ui-grid-b .ui-block-c{width:33.333%}
.ui-grid-b .ui-block-a{clear:left}
.ui-grid-c .ui-block-a,.ui-grid-c .ui-block-b,.ui-grid-c .ui-block-c,.ui-grid-c .ui-block-d{width:25%}
.ui-grid-c .ui-block-a{clear:left}
.ui-grid-d .ui-block-a,.ui-grid-d .ui-block-b,.ui-grid-d .ui-block-c,.ui-grid-d .ui-block-d,.ui-grid-d .ui-block-e{width:20%}
.ui-grid-d .ui-block-a{clear:left}
.ui-header,.ui-footer,.ui-page-fullscreen .ui-header,.ui-page-fullscreen .ui-footer{position:absolute;overflow:hidden;width:100%;border-left-width:0;border-right-width:0}
.ui-header-fixed,.ui-footer-fixed{z-index:1000;-webkit-transform:translateZ(0)}
.ui-footer-duplicate,.ui-page-fullscreen .ui-fixed-inline{display:none}
.ui-page-fullscreen .ui-header,.ui-page-fullscreen .ui-footer{opacity:.9}
.ui-navbar{overflow:hidden}
.ui-navbar li .ui-btn,.ui-navbar .ui-navbar-toggle .ui-btn{display:block;font-size:12px;text-align:center;margin:0;border-right-width:0}
.ui-navbar li .ui-btn{margin-right:-1px}
.ui-navbar li .ui-btn:last-child{margin-right:0}
.ui-header .ui-navbar li .ui-btn,.ui-header .ui-navbar .ui-navbar-toggle .ui-btn,.ui-footer .ui-navbar li .ui-btn,.ui-footer .ui-navbar .ui-navbar-toggle .ui-btn{border-top-width:0;border-bottom-width:0}
.ui-navbar .ui-btn-inner{padding-left:2px;padding-right:2px}
.ui-navbar-noicons li .ui-btn .ui-btn-inner,.ui-navbar-noicons .ui-navbar-toggle .ui-btn-inner{padding-top:.8em;padding-bottom:.9em}
.ui-btn{display:block;text-align:center;cursor:pointer;position:relative;margin:.5em 5px;padding:0}
.ui-btn:focus,.ui-btn:active{outline:0}
.ui-header .ui-btn,.ui-footer .ui-btn,.ui-bar .ui-btn{display:inline-block;font-size:13px;margin:0}
.ui-btn-inline{display:inline-block}
.ui-btn-inner{padding:.6em 25px;display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;position:relative;zoom:1}
.ui-header .ui-btn-inner,.ui-footer .ui-btn-inner,.ui-bar .ui-btn-inner{padding:.4em 8px .5em}
.ui-btn-icon-left .ui-btn-inner{padding-left:33px}
.ui-header .ui-btn-icon-left .ui-btn-inner,.ui-footer .ui-btn-icon-left .ui-btn-inner,.ui-bar .ui-btn-icon-left .ui-btn-inner{padding-left:27px}
.ui-btn-icon-right .ui-btn-inner{padding-right:33px}
.ui-header .ui-btn-icon-right .ui-btn-inner,.ui-footer .ui-btn-icon-right .ui-btn-inner,.ui-bar .ui-btn-icon-right .ui-btn-inner{padding-right:27px}
.ui-btn-icon-top .ui-btn-inner{padding-top:33px}
.ui-header .ui-btn-icon-top .ui-btn-inner,.ui-footer .ui-btn-icon-top .ui-btn-inner,.ui-bar .ui-btn-icon-top .ui-btn-inner{padding-top:27px}
.ui-btn-icon-bottom .ui-btn-inner{padding-bottom:33px}
.ui-header .ui-btn-icon-bottom .ui-btn-inner,.ui-footer .ui-btn-icon-bottom .ui-btn-inner,.ui-bar .ui-btn-icon-bottom .ui-btn-inner{padding-bottom:27px}
.ui-btn-icon-left .ui-icon,.ui-btn-icon-right .ui-icon{position:absolute;top:50%;margin-top:-9px}
.ui-btn-icon-top .ui-icon,.ui-btn-icon-bottom .ui-icon{position:absolute;left:50%;margin-left:-9px}
.ui-btn-icon-left .ui-icon{left:10px}
.ui-btn-icon-right .ui-icon{right:10px}
.ui-btn-icon-top .ui-icon{top:5px}
.ui-btn-icon-bottom .ui-icon{bottom:5px}
.ui-icon{background:#666;background:rgba(0,0,0,.4);background-image:url(images/icons-18-white.png);background-repeat:no-repeat;-webkit-border-radius:9px;border-radius:9px}
.ui-icon-alt{background:#fff;background:rgba(255,255,255,.3);background-image:url(images/icons-18-black.png);background-repeat:no-repeat}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-resolution:240dpi){.ui-icon-plus,.ui-icon-minus,.ui-icon-delete,.ui-icon-arrow-r,.ui-icon-arrow-l,.ui-icon-arrow-u,.ui-icon-arrow-d,.ui-icon-check,.ui-icon-gear,.ui-icon-refresh,.ui-icon-forward,.ui-icon-back,.ui-icon-grid,.ui-icon-star,.ui-icon-alert,.ui-icon-info,.ui-icon-home,.ui-icon-search,.ui-icon-checkbox-off,.ui-icon-checkbox-on,.ui-icon-radio-off,.ui-icon-radio-on{background-image:url(images/icons-36-white.png);-webkit-background-size:776px 18px;background-size:776px 18px}
.ui-icon-alt{background-image:url(images/icons-36-black.png)}
}

.ui-btn-up-a {
  border:none;
  font-weight:bold;
  background:#352516;
  color:#fff;
	text-shadow:  0 1px 1px #444444;
	background-image: -webkit-linear-gradient(top, #3A2818, #2F2113); /* Chrome 10+, Saf5.1+ */
	background-image:         linear-gradient(top, #3A2818, #2F2113);
}

.ui-btn-hover-a {
  border:none;
  font-weight:bold;
  background:#3C2A19;
  background-image:-webkit-linear-gradient(top, #422E1B, #362516); /* Chrome 10+, Saf5.1+ */
  background-image:        linear-gradient(top, #422E1B, #362516);
}

.ui-btn-down-a {
  border:none;
  background:#3C2A19;
  background-image:-webkit-linear-gradient(top, #362516, #422E1B); /* Chrome 10+, Saf5.1+ */
  background-image:        linear-gradient(top, #362516, #422E1B);
}

.ui-btn-active {
  border:none;
  background:#9e6f40;
  background-image:-webkit-linear-gradient(top, #AD7A46, #8E6339); /* Chrome 10+, Saf5.1+ */
  background-image:        linear-gradient(top, #AD7A46, #8E6339);
}

/* loading icon */
.ui-icon-loading {
  background-image:url(images/ajax-loader.png);
  width:40px;
  height:40px;
  -webkit-border-radius:20px;
  border-radius:20px;
  background-size:35px 35px;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
  background:#666;
  opacity:.5;
  filter:Alpha(Opacity=50);
  position:absolute;
  width:100%;
  height:100%;
}
.ui-overlay-shadow {
  -webkit-box-shadow:0px 0px 12px rgba(0,0,0,.6);
  box-shadow:0px 0px 12px rgba(0,0,0,.6);
}
.ui-shadow {
  -webkit-box-shadow:0px 1px  4px rgba(0,0,0,.3);  /*{global-box-shadow-color}*/
  box-shadow:0px 1px  4pxrgba(0,0,0,.3); /*{global-box-shadow-color}*/
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
  -webkit-box-shadow:0px 1px 0 rgba(255,255,255,.3);
  box-shadow:0px 1px 0 rgba(255,255,255,.3);
}
.ui-shadow-inset {
  -webkit-box-shadow:inset 0px 1px 4px rgba(0,0,0,.2);
  box-shadow:inset 0px 1px 4px rgba(0,0,0,.2);
}
.ui-icon-shadow {
  -webkit-box-shadow:0px 1px 0 rgba(255,255,255,.4);
  box-shadow:0px 1px 0 rgba(255,255,255,.4);
}

